.leftbox {
    margin: 15px;
    border: 2px solid;
    padding: 10px !important;
}

.leftgreen {
    text-align: center;
    white-space: nowrap;
    background-color: rgb(111, 255, 111);
}

.midgrey {
    text-align: center;
    white-space: nowrap;
    background-color: rgb(182, 182, 182);
}

.rightred {
    text-align: center;
    white-space: nowrap;
    background-color: rgb(255, 111, 111);
}

.inputgroup {
    width: 300px !important;
}

#popular {
    font-size: 1.1rem;
    color: white;
}

#headertoast {
    background-color: rgb(78, 78, 78);
}

#popularity {
    font-size: 0.7rem;
    color: white;
}