html {
    background-color: lightcyan;
}
.headers {
    background-image: linear-gradient(rgb(94, 114, 228), lightblue);
    background-clip: border-box;
    padding-bottom: 15px;
}
.headerText {
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-family: 'Itim';
    font-size: 50px;
    margin-left: calc(50% - 157.6px);
}
.content {
    background-image: linear-gradient( lightblue, lightcyan);
    background-clip: border-box;
    padding-top: 15px;
}
.content.row {
    margin: 0px;
}
.threeColorBar {
    font-family: "Chonburi";
}
.leftbox {
    margin: 15px;
    border: 2px solid;
    padding: 10px !important;
}

.leftgreen {
    text-align: center;
    white-space: nowrap;
    background-color: rgb(111, 255, 111);
  /*  border: 2px solid;*/
}

.midgrey {
    text-align: center;
    white-space: nowrap;
    background-color: rgb(182, 182, 182);
    /*border: 2px solid;
    border-left: 0px;
    border-right: 0px;*/
}

.rightred {
    text-align: center;
    white-space: nowrap;
    background-color: rgb(255, 111, 111);
    /*border: 2px solid;*/
}

.inputgroup {
    width: 300px !important;
    margin-left: calc(50% - 150px);
}

#popular {
    font-size: 1.1rem;
    color: white;
}

#headertoast {
    background-color: rgb(78, 78, 78);
}

#popularity {
    font-size: 0.7rem;
    color: white;
}

.mr-auto {
    font-family: 'Itim';
}